/node_modules
/public/storage
Homestead.yaml
Homestead.json
/bootstrap/compiled.php
/vendor
/build/logs
/build/coverage
/app/tests/_log
composer.phar
.DS_Store
/.idea
/_ide_helper.php
/app/config/packages
/public/packages
/node_modules
.env
.env.example
/nbproject/private/
nbproject
.rocketeer/
/apple-access_log
/apple.com-error_log