/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2016, 10:41:45 AM
    Author     : danielunag
*/

/*.footer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 20px;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}*/

/*.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 100px;  the bottom margin is the negative value of the footer's height 
    background-color: blueviolet;
}*/

.login-wrapper{
    margin-top: 110px; 
    margin-bottom: 100px;
}

.footer{
    /*position: absolute;*/
    bottom: 0px;
    width: 100%;
    height: 34.01px;
}

.footer div img{
    width: 100%;
    height: 100%;
}

.footer-logo-img{
    /*width: 100%;*/
    height: 47.57px;
    width: 158.7px;
    display:block;
    margin:auto;
    padding-left: 11.3px;
}

.footer{
    padding-left: 34.01px;
}
.logo-bar{
    background-color: #E60000;
    height: 34.01px;
}

/*.login-logo{
    margin-top: 30px;
    margin-bottom: 30px;
}*/
.login-container{
    border: solid 1px #204d74;

}
.login-container label{
    color: #EDE9E5;
}

.login-info a{
    color: #EDE9E5;
}
